.container__section2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    flex-wrap: wrap;
}

.about{
    font-size: 32px;
}

.download{
    margin-top: 50px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: white;
    background-color: #0bceaf;
    padding: 5px 25px;
}

.download a {
    text-decoration-style: none;
    color: white;
    text-align: center;

}


#img__section2{
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.detail__setions2{
    width: 500px;
    margin: 40px;
    margin-top: 50px;
    text-align: justify;
}

.details__vecteur{
    margin-right: 60px;
}